<div class="home-container">
  <div class="home-intro">
    <h2>Welcome sur Pokedex</h2>

    <p>
      Ce site vous permet de trouver des informations sur certains pokémons.
    </p>
  </div>

  <div class="home-body">
    <div class="home-intro-pokemon">
      <div class="container-img">
        <img
          class="icons"
          src="assets/pokemons.png"
          alt="image du plusieurs pokemons"
        />
      </div>
      <div class="text-container">
        <h4>Pokémon qu'est ce que c'est?</h4>
        <p>
          Pokemon est une franchise d'origine japonaise et crée par Satoshi
          Tajiri en 1996.
        </p>
        <p>
          Les Pokémons sont des personnages imaginaire présent dans des jeux
          vidéo ou animé.
        </p>
        <p>
          La première génération on connus les pokémons depuis une série animé
          et un jeux de carte à collectionner.
        </p>
      </div>
    </div>

    <div class="home-serie-pokemon">
      <div class="text-container">
        <div>
          <h4>La série animé Pokémon</h4>
          <p>C'est l'histoir un jeune garçon prénomé Sacha.</p>
          <p>Il voyage à travers diverses régions (fictives) dans</p>
          <p>
            le but d’attraper de nouvelles sortes de monstres éponymes
            (pokémon).
          </p>
          <p>Un pokemon est une petite créature possédant divers pouvoirs.</p>
          <p>Le but de Sacha est de devenir maitre pokemon.</p>
          <p>Entouré de ses amis il va vivre de nombreuses aventures et</p>
          <p>combattre la Team Rocket, des voleurs de pokemon.</p>
        </div>

        <div class="container-youtube">
          <p>1er épisode de la saison 1 de Pokémon (en français)</p>
          <a
            class="white-text"
            href="https://www.youtube.com/watch?v=NBElzosmpYI"
            target="_blank"
          >
            <img
              class="icon-youtube"
              src="assets/icons8-youtube-100.png"
              alt="icon youtube"
            />
          </a>
        </div>
      </div>

      <div class="container-media">
        <p>extrait du générique de la série Pokemon</p>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/YhN4oAS3O4c?si=yxX8M-vQ_JxtyNIC"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <!-- <img
          class="icons"
          src="assets/icons8-rondoudou-100-c.png"
          alt="icon du pokeball"
        /> -->
      </div>
    </div>

    <div class="home-game-carte-pokemon">
      <div class="container-media">
        <img
          class="icons"
          src="assets/carte-pokemon.png"
          alt="icon du pokemon pikachu"
        />
      </div>
      <div class="text-container">
        <h4>Le jeux de carte à collectionner</h4>
        <p>Résumé des règles du jeux:</p>
        <p>Le but du jeu Pokémon est de gagner le maximum de combats.</p>
        <p>
          Lorsque toutes les cartes récompenses sont piochées, le jeu est fini.
        </p>
        <p>
          Le joueur ayant pioché la dernière carte récompense remporte la
          partie.
        </p>
        <p>
          Par contre, le premier joueur qui n'a plus de carte Pokémon disponible
          pour le combat, a perdu la partie.
        </p>
      </div>
    </div>
  </div>
</div>
